.top-header {
  display: grid;
  grid-template-columns: [headerStart] 1fr;
  grid-template-rows: [headerLogo] 1fr [headerName] auto;
  justify-items: center;
  align-items: center;
  background-image: url("../images/asfalt-dark.png");
  background-color: lightsteelblue;
}

.top-header-logo {
  grid-area: headerLogo / headerStart;
}

.top-header-name {
  grid-area: headerName / headerStart;
}