nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  display: grid;
  grid-template-columns: 2em [navLogo] 25% auto [navNewTweet] 25% 1em;
  grid-template-rows: [navStart] 1fr;
  justify-items: center;
  align-items: center;
}

.nav-logo {
  grid-area: 1 / navLogo;
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

.nav-new-tweet {
  grid-area: 1 / navNewTweet;
}

.nav-new-tweet.nav-icon {
  align-self: flex-end;
  height: 2em;
  width: 1em;
  padding-bottom: 1em;
}

.nav-icon {
  grid-area: 1 / navNewTweet;
  margin-top: 2em;
}

.nav-icon:hover {
  margin-top: 2.5em;
}
