nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  display: grid;
  grid-template-columns: 2em [navLogo] 25% auto [navNewTweet] 25% 1em;
  grid-template-rows: [navStart] 1fr;
  justify-items: center;
  align-items: center;
}

.nav-logo {
  grid-area: 1 / navLogo;
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

.nav-new-tweet {
  grid-area: 1 / navNewTweet;
  /* margin-bottom: 1em; */
}

.nav-new-tweet.nav-icon {
  align-self: flex-end;
  height: 2em;
  width: 1em;
  padding-bottom: 1em;
}

.nav-new-tweet.nav-icon:hover {
  /* align-self: baseline; */
  padding-bottom: 0.5em;
}
