nav {
  color: #FFFFFF;
  height: 90px;
  width: 100%;
  display: grid;
  grid-template-columns: 1em [navLogo] 25% auto [navNewTweet] 25% 1em;
  grid-template-rows: [navStart] 1fr;
  align-items: center;
  position: fixed;
}

.nav-logo {
  grid-area: 1 / navLogo;
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

.nav-new-tweet {
  grid-area: 1 / navNewTweet;
  justify-self: center;
}

.nav-new-tweet.nav-icon {
  align-self: flex-end;
  height: 2em;
  width: 1em;
  padding-bottom: 1em;
}

.nav-icon {
  grid-area: 1 / navNewTweet;
  margin-top: 2em;
  justify-self: center;

}

.nav-icon:hover {
  margin-top: 2.5em;
}

@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}
