/* Form field styling includes buttons and counter */

.form-tweet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "formInput formInput"
  "formSubmit formCounter";
}

.form-input {
  grid-area: formInput;
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  border-bottom: 3px solid #000000;
}

.form-submit {
  grid-area: formSubmit;
  align-self: flex-start;
  justify-self: start;
  background-color: #4152a1;
  border: none;
  color: #ffffff;
  font-family: 'Bungee', cursive;
}

.form-counter {
  grid-area: formCounter;
  justify-self: self-end;
  font-family: 'Bungee', cursive;
}

.red {
  color: red;
}